h1, h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 13pt;
	margin: 0 0 6pt 0;
}

h1{ font-size: 14pt; }
h2{ font-size: 30pt; }
h3{ font-size: 15pt;
	color: purple;}


a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }


body{
    font-family: arial;
    font-size: 80%;
    line-height: 14pt;
    width: 100%;
    margin: 0;
    background: #A78FAF;
}

#page{ margin: 20px; }

#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 20px;
				background: orange;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: #334;
	}

ul li a{ box-shadow: 0px 5px 1px #DAA520; }
#content { box-shadow: 5px 5px 5px #888;}

#accordion section p {
    display: none;
    text-align: center;
}

#accordion section a {
    text-align: center;
    color: black;
    text-decoration: none;
}

#accordion section a:hover {
    text-decoration: underline;
}

#accordion section:target p {
    display: block;
}

#demo { font-size: 100px}




/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
