h1, h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 13pt;
	margin: 0 0 6pt 0;
}

h1{ font-size: 14pt; }
h2{ font-size: 30pt; }
h3{ font-size: 15pt;
	color: purple;}


a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }


body{
    font-family: arial;
    font-size: 80%;
    line-height: 14pt;
    width: 100%;
    margin: 0;
    background: #A78FAF;
}

#page{ margin: 20px; }

#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 20px;
				background: orange;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: #334;
	}

ul li a{ box-shadow: 0px 5px 1px #DAA520; }
#content { box-shadow: 5px 5px 5px #888;}

#accordion section p {
    display: none;
    text-align: center;
}

#accordion section a {
    text-align: center;
    color: black;
    text-decoration: none;
}

#accordion section a:hover {
    text-decoration: underline;
}

#accordion section:target p {
    display: block;
}

#demo { font-size: 15px}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: grey;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;

}

